.envelope{
    border: none;
    border-radius: 2px;
    color: #4166bb;
    cursor: pointer;
    transition: all 0.3s;
  }

  .envelope:active {
    color: #496fbe;
    transform: scale(0.95);
    text-decoration: none;
  }

  .envelope:hover {
    cursor: pointer;
    color: #6c8cd8;
  }

  .main {
    display: flex;
  }

  .channels {
    margin: 0 1rem;
  }

  .messages {
    margin: 0 1rem;
    background-color: grey;
  }

  .message_header {
    display: flex;
  }

  .message_username {
    margin-right: .5rem;
  }
