/* TODO Add site wide styles */

ul {
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

body {
  display: block;
  margin: 0 300px;
}

@media (max-width: 1800px) {
  body {
    margin: 0 200px;
  }
}

@media (max-width: 1300px) {
  body {
    margin: 0 100px;
  }
}
