/* TODO Add site wide styles */

ul {
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

body {
  display: block;
  margin: 0 300px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.error {
  color: red;
}

.logo {
  width: 10vw;
  height: auto;
}

@media (max-width: 1800px) {
  body {
    margin: 0 200px;
  }
}

@media (max-width: 1300px) {
  body {
    margin: 0 100px;
  }
}

td {
  text-align: center;
}

.blue_button {
  background-color: #3b5998;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 4vh;
  min-width: fit-content;
  min-height: fit-content;
  margin: 10px 0;
  width: 5vw;
}

.blue_button:active {
  background-color: #496fbe;
  transform: scale(.9);
  text-decoration: none;
}

.grey_button {
  background-color: #e1e7f5;
  border: none;
  border-radius: 5px;
  color: #3b5998;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 4vh;
  min-width: fit-content;
  min-height: fit-content;
  margin: 10px 0;
  width: 5vw;
}

.grey_button:active {
  background-color: #ced8ef;
  transform: scale(.9);
  text-decoration: none;
}
