.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form > *:not(ul) {
  margin: 0.3rem;
}

.select {
  cursor: pointer;
}

.select:hover {
  background-color: #f5f5f5;
}
