
.logout {
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 700;
  height: 24px;
  width: fit-content;
  padding: 10px 5px 0;
  text-align: left;
  text-decoration: none;
}

.logout:hover {
  background-color: #e1e7f5;
  color: black;
  text-decoration: none;
}
