.loading_bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  position: relative;
  height: 10px;
  width: 30%;
  border: 8px solid #2e51a2;
  border-radius: 15px;
}
.progress .color {
  position: absolute;
  background-color: #5a79c1;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 1.5s infinite linear;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
} ;
