.background {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  margin: 0;
  padding: 1rem;
}

.lists {
  display: flex;
  /* maybe change to space-between later */
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.list_name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 3px #ccc;
  transition: all 0.3s ease-out;
  cursor: pointer;
  position: relative;
}

.list_name > i {
  margin-left: 0.5rem;
}

.list_name:hover {
  box-shadow: 0 2px 3px #ccc, 0 0 25px #ccc;
  transform: scale(1.02);
}

.lock_icon {
  position: absolute;
  top: -25%;
}

.list_name_text {
  text-align: center;
}

.list_edit {
  align-items: left;
}

.list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
}

.anime {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.anime > *:hover {
  transform: scale(1.02);
  z-index: 1;
}

.anime > *:active {
  z-index: -2;
}

.anime_header {
  background-color: #4065ba;
  display: flex;
  justify-content: space-between;
  color: white;

  font-weight: 500;
  margin: 0;
  padding: 0;
}

.anime_header > h3 {
  margin: 0.3rem 0;
}

.anime_content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.anime_title {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.edit_icon {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 0.3rem;
  margin: 0.3rem;
  top: 0;
  left: 0;
}

.edit_icon:hover {
  cursor: pointer;
}

.edit_icon:active {
  transform: scale(0.9);
}

.delete_icon {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 0.3rem;
  margin: 0.3rem;
  top: 0;
  right: 0;
}

.delete_icon:hover {
  cursor: pointer;
}

.delete_icon:active {
  transform: scale(0.9);
}

.list_edit {
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 700;
  height: 24px;
  width: fit-content;
  padding: 10px 5px 0;
  text-align: left;
  text-decoration: none;
}

.list_edit:hover {
  background-color: #e1e7f5;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.list_edit:active {
  background-color: #d0d8e8;
  transform: scale(0.9);
  text-decoration: none;
}

.icon {
  display: flex;
  align-items: center;
}

.icon > i {
  margin: 0 0.5rem;
}

.icon > i:hover {
  cursor: pointer;
}

.icon > i:active {
  transform: scale(0.9);
}
